body {
    background-color: black;
}
h1, h2, h3, h4, h5, h6, p {
    color: white; 
}
input {
    background-color: black;
    color: white;
}

a {
    color: white;
}
main {
    background-color: black;
}
button {
    background-color: black;
    color: white;
}
li {
    color: white;
}
.slider {
    background-color: #757575;
}
.slider::before {
background-color: rgb(109, 108, 108);
}

input:checked + .slider {
background-color: #13548a;
}

input:focus + .slider {
box-shadow: 0 0 1px #114c7c;
}