body {
    background-color: white;
}
h1, h2, h3, h4, h5, h6, p {
    color: black; 
}
input {
    background-color: white;
    color: black;
}

a {
    color: black;
}
main {
    background-color: white;
}
button {
    background-color: white;
    color: black;
}
li {
    color: black;
}