# Node Modules
node_modules/
# ESLint Config
.eslintrc.js
# Node.js Config
package.json
package-lock.json
# VSCode Counter Files
.VSCodeCounter
# VS Code stuff
.vscode
# Anything that doesn't get used
test
lib/momentoriginal.js
lib/JQuery-nonslim.js
js/utils.js
assets/imgheic/